<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="#" (click) = "exibindoMenu = !exibindoMenu">
          <i class="fa fa-bars fa-inverse"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Usuário: Diógenes</li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
      <a routerLink="/pagamentos">Pagamentos</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
      <a routerLink="/clientes">Pessoas</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
      <a href="#">Logout</a>
    </li>
  </ul>
</nav>
